*, body {
    font-family: 'Roboto',Tahoma,sans-serif !important;
    font-size: 13px;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    overflow: hidden;
}

.main-body {
    border-style: groove;
    width: 1600px;
    background-color: aqua;

}

.banner-top {

}

.content-body {

}

.left-menu {

}

.content-main{

}

.