@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body style="text-align:center">
    <div style="margin-top: 250px; color:red">
        <h1>Your account is not authorized!</h1>
        <br />
        @Html.ActionLink("Go back!", "Index", "Product")
    </div>
</body>
</html>
